.left-items {
  color: var(--title-color);
  font-size: 18px;
  font-weight: bold;
  padding-right: 20px;
  vertical-align: top;
  max-width: 250px;
  padding-bottom: 7px;
}

.right-items {
  color: var(--main-title-color);
  font-size: 18px;
  font-weight: 600;
  max-width: 300px;
}
